<div class="categories">
  <ul>
    <% categories.forEach(category => { %>
    <li>
      <a href="/category/<%= category.id %>">
        <span> <%= category.name %> </span>
      </a>
    </li>
    <% }); %>
  </ul>
</div>