<div class="nav">
  <a href="/" class="logo">Dessert Shop</a>
  <ul>
    <a href="/"><li>Home</li></a>
    <a href="/add"><li>New dessert</li></a>
    <a href="/category"><li>New category</li></a>
  </ul>
</div>
