<%- include("partials/header", { title }) %>
<div class="confirm">
    <%- include('partials/nav') %>
    <h1>Are you sure you want to delete the dessert?</h1>
    <form action="/delete/<%= id %>" method="POST" class="dessertForm">
        <% if(locals.error) { %>
            <p> <%= locals.error %></p>
        <% } %>  
        <label for="password">Enter password:</label>
        <input type="text" name="password" id="password">
        <button>Confirm</button>
    </form>
</div>
