<%- include("partials/header", { title }) %>

<body>
  <%- include('partials/nav') %>
  <div class="content-container">
    <%- include('partials/categories', { categories }) %> <%-
    include('partials/desserts') %> 
  </div>
</body>
